.classPage {
  text-align: center;
}
.classPage ul {
  list-style: none;
  margin: 0;
}
.studentList {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
  padding-bottom: 20px;
}
.studentItem {
  height: 100%;
}
.studentHeader {
  display: flex;
  flex-direction: row;
}
.studentHeader h1 {
  margin-bottom: 0;
}
.studentColor {
  min-width: 50px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-left: auto;
}