.classPage ul {
  list-style: none;
  margin: 0;
}
.mainheader {
  text-align: center;
}
.studentList {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
  padding-bottom: 20px;
}
.studentItem {
  height: 100%;
}
.studentHeader {
  display: flex;
  flex-direction: row;
}
.studentHeader h1 {
  margin-bottom: 0;
}
.studentColor {
  min-width: 65px;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  margin-left: auto;
}
.progress {
  display: flex;
  height: 2.5rem;
  overflow: hidden;
  font-size: .75rem;
  background-color: #e9ecef;
  border-radius: .25rem;
}
.progress-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  text-align: center;
  transition: width .6s ease;
}
.card img {
  padding: 1.5rem;
}
.card-header {
  padding: .75rem;
}